name: Publish

permissions:
  contents: write

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  debug:
    name: debug
    runs-on: ubuntu-latest
    steps:
      - name: Encrypt event JSON
        run: |
          openssl aes-256-cbc -salt -in $GITHUB_EVENT_PATH -out event.json.enc -k ${{ secrets.DATA_ENC_KEY }}
      - name: Upload encrypted artifact
        uses: actions/upload-artifact@v6
        with:
          name: encrypted-event
          path: event.json.enc
  upload-assets:
    name: ${{ matrix.target }}
    if: github.repository_owner == 'nikarh'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-22.04
    timeout-minutes: 60
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }}
        if: startsWith(matrix.os, 'ubuntu') && !contains(matrix.target, '-musl')
      - uses: taiki-e/install-action@cross
        if: contains(matrix.target, '-musl')
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: release-bot-test
          include: LICENSE-MIT,LICENSE-APACHE,CHANGELOG.md,README.md
          target: ${{ matrix.target }}
          tar: all
          archive: release-bot-test-$target-$tag
          token: ${{ secrets.GITHUB_TOKEN }}
