name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: Release version
      body:
        required: true
        description: Pull request body

jobs:
  create-release:
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Generate GitHub token
        uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v6
      - name: Push new tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ steps.generate-token.outputs.token }}
          custom_tag: ${{ github.event.inputs.version }}
          tag_prefix: ""
      - name: Create GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag.outputs.name }}
          name: Release ${{ github.event.inputs.version }}
          body: ${{ github.event.inputs.body }}
          token: ${{ steps.generate-token.outputs.token }}
